<!DOCTYPE html>

<html>
    <head>
        <title><%= problem_name%> - IPU <%= problem_code%>번</title>
        <meta charset="utf-8">

        <link rel="stylesheet" type="text/css" href="/lib/univ.css">
        <link rel="stylesheet" type="text/css" href="/lib/problem/problem.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/lib/quill/quill.bubble.css">
        <link rel="stylesheet" type="text/css" href="/lib/quill/quill.core.css">
        <link rel="stylesheet" type="text/css" href="/lib/quill/quill.snow.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/monokai-sublime.min.css">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="/lib/problem/pShowPage.js"></script>
        <%- include('../ejs-components/header-comp.ejs')%>
        <meta property="og:title" content="IPU - <%=problem_name%>">
        <meta name="twitter:title" content="IPU - <%=problem_name%>">
        <meta name="description" content="IPU - <%=problem_name%> 문제 풀기">
        <meta property="og:description" content="IPU - <%=problem_name%> 문제 풀기">
        <meta name="twitter:description" content="IPU - <%=problem_name%> 문제 풀기">
        <style>
            img {
                width: 100% !important;
            }
            p,a#show-hint,li,blockquote {
                font-size: 17px !important;
            }
            @media only screen and (max-device-width : 640px) {
                p,a#show-hint,li,blockquote {
                    font-size: 25px !important;
                }
            }    
            @media only screen and (max-device-width: 768px) {
                p,a#show-hint,li,blockquote {
                    font-size: 25px !important;
                }
            }
        </style>
    </head>
    <body onload="onload(<%= spec%>)">
        <div id="display">
            <div id="root">
                <div id="heading">
                    <%- include('../ejs-components/goto.ejs')%>
                    <%- include('../ejs-components/user_header.ejs')%>
                </div>
                <div id="prob-cont-v" style="margin-top: 30px;">
                    <div>
                        <a href="/problem/<%=problem_code%>/edit" style="color: #000; font-size: 1.3rem; right: 0; cursor: default;">
                            <h1 style="display: inline-block;"><%= problem_name%></h1>
                        </a>
                    </div>
                    <span class="prob-title">문제</span>
                    <hr class="prob-hr">
                    <%- prob_cont%>
                    <hr class="prob-div-hr">
                    <div style="display: <%= hashint%>;">
                        <span class="prob-title">힌트</span>
                        <hr class="prob-hr">
                        <a id="show-hint" onclick="showHint()">보기</a>
                        <div id="hint-view" style="display: none;">
                            <%- prob_hint%>
                        </div>
                        <hr class="prob-div-hr">
                    </div>
                    <div id="after-sol" style="display: none;">
                        <span class="prob-title">풀이</span>
                        <hr class="prob-hr">
                        <%- prob_exp%>
                        <hr class="prob-div-hr">
                        <span class="prob-title">정답</span>
                        <hr class="prob-hr">
                        <%- prob_ans%>
                        <hr class="prob-div-hr">
                    </div>
                    <div id="custom-tabs"></div>
                    <div id="final-sol" style="display: none; margin-top: 40px; opacity: 0;">
                        <h3 id="sol-time-took">풀이시간</h3>
                        <h2 id="sol-time"></h2>
                    </div>
                </div>
                <div id="prob-control" style="text-align: center; margin-top: 20px; padding-bottom: 20px;">
                    <!--
                    <button id="wa-btn" class="end-btn" style="margin-right: 15px;" onclick="markaswa(<%= problem_code%>)">틀렸다고 표시하고 정답 보기</button>
                    -->
                    <button id="show-ans-btn" class="end-btn" onclick="showAns()">정답 보기</button>
                </div>
                <div id="prob-control-nd" style="text-align: center; margin-top: 20px; display: none; padding-bottom: 20px;">
                    <div style="display: <%= ylog%>;">
                        <button id="wa-btn" class="end-btn" style="margin-right: 15px;" onclick="wa(<%= problem_code%>)">틀렸다고 표시</button>
                        <button id="ac-btn" class="end-btn" onclick="ac(<%= problem_code%>)">맞았다고 표시</button>
                    </div>
                </div>
            </div>
            <%- include('../ejs-components/simple.ejs')%>
        </div>
    </body>
    <script type="text/x-mathjax-config">
        MathJax.Hub.Config({
            tex2jax: {
                inlineMath: [ ['$','$'], ["\\(","\\)"] ],
                processEscapes: true,
                processClass: "mathjax",
                ignoreClass: "no-mathjax"
            }
        });
    </script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML'></script>
</html>