<!DOCTYPE html>

<html>
    <head>
        <title>문제</title>
        <meta charset="utf-8">

        <link rel="stylesheet" type="text/css" href="/lib/univ.css">
        <link rel="stylesheet" type="text/css" href="/lib/problem/problem.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/css/bootstrap.min.css">
        <script src="/lib/univ.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="/lib/problem/pShow.js"></script>
    </head>
    <body>
        <div id="display" style="text-align: center;">
            <div id="root">
                <div id="heading">
                    <%- include('../ejs-components/goto.ejs')%>
                    <div id="user">
                        <div id="nloged" style="display: <%= nlog%>">
                            <span class="welcome" style="margin-right: 5px;">
                                <a href="/login/?ret=problem/make" style="color: black; font-family: inherit;">login</a>
                            </span>
                            <span class="welcome" style="margin-left: 5px;">
                                <a href="/signup" style="color: black; font-family: inherit;">signup</a>
                            </span>
                        </div>
                        <div id="yloged" style="display: <%= ylog%>;">
                            <span class="welcome" style="margin-right: 5px;">
                                <a href="/profile" style="color: black; font-family: inherit;"><%= username%></a>
                            </span>
                            <span class="welcome" style="margin-left: 5px;">
                                <a href="/login/deauth" style="color: black; font-family: inherit;">Logout</a>
                            </span>
                        </div>
                    </div>
                </div>
                <div id="prob-cont">
                    <h1 style="margin-bottom: 1em;">Problems</h1>
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th style="width: 6%">문제</th>
                                <th style="width: 50%;">문제 제목</th>
                                <th style="width: 30%;">정보</th>
                                <th style="width: 9%;">맞은 사람</th>
                                <th style="width: 5%;">분류</th>
                            </tr>
                        </thead>
                        <tbody id="addProb">
                        </tbody>
                    </table>
                </div>
            </div>
            <%- include('../ejs-components/simple.ejs')%>
        </div>
    </body>
</html>