<!DOCTYPE html>

<html>
    <head>
        <title>문제 - IPU</title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="/lib/univ.css">
        <link rel="stylesheet" type="text/css" href="/lib/problem/problem.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/css/bootstrap.min.css">
        <script src="/lib/univ.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="/lib/problem/pShow.js"></script>
        <%- include('../ejs-components/header-comp.ejs')%>
        <meta property="og:title" content="IPU - 문제">
        <meta name="twitter:title" content="IPU - 문제">
        <meta name="description" content="IPU - 문제 목록">
        <meta property="og:description" content="IPU - 문제 목록">
        <meta name="twitter:description" content="IPU - 문제 목록">
    </head>
    <body>
        <div id="display" style="text-align: center;">
            <div id="root">
                <div id="heading">
                    <%- include('../ejs-components/goto.ejs')%>
                    <%- include('../ejs-components/user_header.ejs')%>
                </div>
                <div id="prob-cont">
                    <h1 style="margin-bottom: 1em;">Problems</h1>
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th style="width: 6%">문제</th>
                                <th style="width: 50%;">문제 제목</th>
                                <th style="width: 30%;">정보</th>
                                <th style="width: 9%;">맞은 사람</th>
                                <th style="width: 5%;">분류</th>
                            </tr>
                        </thead>
                        <tbody id="addProb"></tbody>
                    </table>
                </div>
                <a id="makenew" style="display: <%= ylog%>;" href="/problem/make">문제 출제하기</a>
            </div>
            <%- include('../ejs-components/simple.ejs')%>
        </div>
    </body>
</html>