<!DOCTYPE html>

<html>
    <head>
        <title>탈퇴 - IPU</title>
        <%- include('../ejs-components/header-comp.ejs')%>
        <link rel="stylesheet" type="text/css" href="/lib/profile/goodbye.css">
        <meta name="title" content="IPU - 탈퇴하기">
        <meta property="og:title" content="IPU - 탈퇴하기">
        <meta name="twitter:title" content="IPU - 탈퇴하기">
        <meta name="description" content="IPU를 탈퇴하면 즉시 모든 계정과 정보가 삭제됩니다.">
        <meta property="og:description" content="IPU를 탈퇴하면 즉시 모든 계정과 정보가 삭제됩니다.">
        <meta name="twitter:description" content="IPU를 탈퇴하면 즉시 모든 계정과 정보가 삭제됩니다.">
    </head>
    <body>
        <div id="block" style="display: none;"></div>
        <div id="display">
            <div id="root">
                <div id="header"></div>
                <div style="text-align: center;">
                    <h1 id="wanna-del">계정 "<%=username%>(<%=userid%>)"를 삭제할까요?</h1>
                    <p id="sel-acc-subt">계정을 삭제하면 즉시 모든 풀이기록, 프로필이 삭제됩니다.<br>여러분이 만든 문제들은 삭제되지 않고 보존됩니다.</p>
                    <p style="color: #f00; font-size: 2em; text-shadow: 0 0 2px #f00; display: <%= fail%>;"><%= whyfail%></p>
                    <form method="POST">
                        <label class="fl">계속하려면 암호를 입력하세요</label><br>
                        <input type="password" id="pwd" name="pwd" class="in pwd" required><br>
                        <label class="fl" style="margin-top: 5em;">삭제를 확인하려면 아래에 <i>"I Promise U"</i>를 정확하게 쓰세요.</label><br>
                        <input type="text" id="check" name="check" class="in" onkeyup="changed()" required spellcheck="false" autocomplete="off"><br>
                        <button id="real-del" style="margin-top: 5em;" type="submit" disabled>삭제</button>
                    </form>
                </div>
            </div>
        </div>
    </body>
    <script>
        function changed() {
            let t = document.getElementById('check').value;
            if(t == 'I Promise U') {
                document.getElementById('check').style.boxShadow = "0 0 5px #0f0";
                document.getElementById('real-del').disabled = false;
            }
            else {
                document.getElementById('check').style.boxShadow = "0 0 5px #f00";
                document.getElementById('real-del').disabled = true;
            }
        }
    </script>
</html>