<!DOCTYPE html>

<html>
    <head>
        <title>IPU</title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="/lib/univ.css">
        <link rel="stylesheet" type="text/css" href="/lib/profile/profile.css">
        <link rel="stylesheet" type="text/css" href="/lib/table.css">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="/lib/univ/converter.js"></script>
        <script src="/lib/profile/pProfile.js"></script>
        <%- include('../ejs-components/header-comp.ejs')%>
        <meta property="og:title" content="IPU - 프로필">
        <meta name="twitter:title" content="IPU - 프로필">
        <meta name="description" content="<%= username%>의 프로필">
        <meta property="og:description" content="<%= username%>의 프로필">
        <meta name="twitter:description" content="<%= username%>의 프로필">
    </head>
    <body onload="load(<%= pg%>)">
        <%- include('../ejs-components/header.ejs')%>
        <div id="container">
            <div id="headerup">
                <h1 id="uname"><%=usernameT%></h1>
                <h3 id="uid"><%=useridT%></h3>
                <blockquote><%= bioT%></blockquote>
                <div id="experience-div">
                    <p id="exp-name"></p>
                    <div id="experience" style="background: #000; width: 100%; height: 30px; margin: 0;">
                        <div id="experi-visib" class="prog-exp">
                            <p class="exp-dis"><%= experience%></p>
                        </div>
                    </div>
                    <div id="infp">
                <p class="exp-dis infp" style="margin-top: 10px; margin-bottom: 30px;"><%= experience%></p>
                <p class="exp-dis infp" id="next-lv" style="margin-top: 10px; margin-bottom: 30px;"><%= experience%></p>
            </div>
        </div>
        <table id="prob-list-table">
            <thead>
                <tr>
                    <th style="width: 6%">번호</th>
                    <th style="width: 39%;">문제 제목</th>
                    <th style="width: 25%;">정보</th>
                    <th style="width: 7%;">풀이 시간</th>
                    <th style="width: 23%;">푼 시각</th>
                </tr>
            </thead>
            <tbody id="solveds"></tbody>
        </table>
        <div id="nav">
            <p id="not">이 페이지는 비어있습니다.</p>
            <div id="nav">
                <a id="prev" class="previous round">이전</a>
                <span id="pnsep" style="user-select: none;">······</span>
                <a id="next" class="next round">다음</a>
            </div>
        </div>
    </body>
</html>