<!DOCTYPE html>

<html>
    <head>
        <title>IPU</title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="/lib/univ.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/css/bootstrap.min.css">
        <script src="/lib/univ.js"></script>
        <%- include('./ejs-components/header-comp.ejs')%>
        <meta name="title" content="IPU">
        <meta property="og:title" content="IPU">
        <meta name="twitter:title" content="IPU">
        <meta name="description" content="Welcome to the IPU">
        <meta property="og:description" content="Welcome to the IPU">
        <meta name="twitter:description" content="Welcome to the IPU">
    </head>
    <body>
        <div id="block" style="display: none;"></div>
        <div id="display">
            <div id="root">
                <div id="heading">
                    <%- include('./ejs-components/goto.ejs')%>
                    <%- include('./ejs-components/user_header.ejs')%>
                </div>
                <div style="text-align: center;">
                    <div id="img-cont">
                        <img src="/lib/imgs/bg/1.jpg" width="100%" alt="mainpage image">
                    </div>
                    <div style="margin-top: 0.1em;">
                        <span id="moving-p">Online Solving!</span><br>
                        <span id="welcomemsg">온라인으로 문제를 풀고, 공부할 수 있는 곳입니다.</span>
                    </div>
                    <div id="maincontents">
                        <a class="cont-href" href="/problem">문제 목록</a>
                        <a class="cont-href" style="display: <%= ylogi%>;" href="/profile">프로필</a>
                        <a class="cont-href" style="display: <%= nlogi%>;" href="/signin">로그인</a>
                        <a class="cont-href" style="display: <%= nlogi%>;" href="/signup">가입</a>
                    </div>
                </div>
            </div>
            <%- include('ejs-components/basics.ejs')%>
        </div>
    </body>
</html>